{% extends 'campnet.html.twig' %}


{% block title %}Campnet {% endblock %}

{% block body %}
    <h1>Campnet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campnet in campnets %}
            <tr>
                <td>{{ campnet.id }}</td>
                <td>
                    <a href="{{ path('campnet_show', {'id': campnet.id}) }}">show</a>
                    <a href="{{ path('campnet_edit', {'id': campnet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('campnet_new') }}">Create new</a>
{% endblock %}
